# KiCAD Backups
chickensticks-backups/

# Local history files
.history
.history_trim
fp-info-cache
\#auto_saved_files#
~*
**old
**bak
*-erc.txt
*-drc.txt
BoM
kibot*
**/*lck
*_prl
output

jlcpcb
jlcpcb/*

Boardview
Bom
Pcbprint
Schematic
JLCPCB
*.log
